<!-- New Item Form -->
<div class="card rounded">
  <div class="card-header bg-white rounded">
    <h5 class="text-muted text-center" *ngIf="isNewItemMode">
      New Allowance or Deduction
    </h5>
    <h5 class="text-muted text-center" *ngIf="isEditMode">
      Edit Details
    </h5>
  </div>
  <div class="card-body">
    <form #newForm="ngForm">

      <div class="form-group text-center">
        <input type="text" name="title" class="form-control form-control-custom" placeholder="Title"
          [(ngModel)]="miscProfile.title" required autocomplete="off" />
        <span class="error" *ngIf="formErrors.title">
          {{formErrors.title.error}}
        </span>
      </div>

      <div class="form-group text-center">
        <select name="category" class="form-control form-control-custom" required [(ngModel)]="miscProfile.category">
          <option [value]="null">
            Select Category
          </option>
          <option value="0">
            Allowance
          </option>
          <option value="1">
            Deduction
          </option>
        </select>
        <span class="error" *ngIf="formErrors.category">
          {{formErrors.category.error}}
        </span>
      </div>

      <div class="form-group text-center">
        <select name="classId" class="form-control form-control-custom" [(ngModel)]="miscProfile.level">
          <option [value]="null">
            Select Level (Optional)
          </option>
          <option [value]="level.id" *ngFor="let level of levels">
            {{level.id}}
          </option>
        </select>
        <span class="error" *ngIf="formErrors.level">
          {{formErrors.level.error}}
        </span>
      </div>

      <div class="form-group text-center">
        <select name="classId" class="form-control form-control-custom" [(ngModel)]="miscProfile.classId">
          <option [value]="null">
            Select Staff Class (Optional)
          </option>
          <option [value]="class.id" *ngFor="let class of staffClasses">
            {{class.name}}
          </option>
        </select>
        <span class="error" *ngIf="formErrors.classId">
          {{formErrors.classId.error}}
        </span>
      </div>

      <div class="form-group text-center">
        <select name="classId" class="form-control form-control-custom" [(ngModel)]="miscProfile.genderRestricted">
          <option [value]="null">
            Apply To Only (Optional)
          </option>
          <option value="male">
            Male
          </option>
          <option value="female">
            Female
          </option>
        </select>
        <span class="error" *ngIf="formErrors.level">
          {{formErrors.genderRestricted.error}}
        </span>
      </div>

      <div class="form-group text-center">
        <input type="number" name="amount" class="form-control form-control-custom" placeholder="Amount (NGN)"
          [(ngModel)]="miscProfile.amount" required autocomplete="off" />
        <span class="error" *ngIf="formErrors.amount">
          {{formErrors.amount.error}}
        </span>
      </div>

      <div class="form-group text-center">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="is-calculated" name="isCalculated"
            [(ngModel)]="miscProfile.isCalculated">
          <label class="custom-control-label" for="is-calculated">Should it be calculated?</label>
        </div>
        <span class="error" *ngIf="formErrors.isCalculated">
          {{formErrors.isCalculated.error}}
        </span>
      </div>

      <div *ngIf="miscProfile.isCalculated">
        <div class="form-group text-center">
          <input type="number" name="percent" class="form-control form-control-custom" placeholder="Percent (%)"
            [(ngModel)]="miscProfile.percent" required autocomplete="off" />
        </div>
        <div class="form-group text-center">
          <select name="derivedFrom" class="form-control form-control-custom" required
            [(ngModel)]="miscProfile.derivedFrom">
            <option [value]="null">
              Calculate On
            </option>
            <option value="consolidated">
              Consolidated
            </option>
            <option value="grosspay">
              Gross Pay
            </option>
          </select>
        </div>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success btn-rounded" [disabled]="!newForm.form.valid" (click)="saveData()"
          *ngIf="isNewItemMode">
          Save
        </button>

        <button class="btn btn-success btn-rounded" [disabled]="!newForm.form.valid" (click)="updateData()"
          *ngIf="isEditMode">
          Update
        </button>

        <div class="text-info text-center mt-2" *ngIf="isProcessing">
          <span>
            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
            processing request
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- New Item Form -->
