<div class="mb-3">
  <div class="d-flex justify-content-between align-items-center mb-0 flex-wrap">
    <h5 class="mr-1 mb-0 text-muted font-style-italic my-2">
      <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
      Payrolls
    </h5>

    <button class="btn btn-warning btn-rounded" (click)="setViewMode(2)" [disabled]="isNewItemMode || isEditMode">
      <fa-icon [icon]="faPlusCircle"></fa-icon>
      New Payroll
    </button>
  </div>

  <hr class="socket mt-1" />
  <app-payroll [isNewItemMode]="isNewItemMode" [isEditMode]="isEditMode" [isMainMode]="isMainMode"
    (changeViewMode)="setViewMode($event)"></app-payroll>
</div>
