<div class="d-flex justify-content-between p-1">
  <div>
    <nav class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a routerLink="/login">
          <fa-icon [icon]="faSignInAlt" class="mr-1"></fa-icon>
          Login
        </a>
      </li>
      <li class="breadcrumb-item active">
        <fa-icon [icon]="faUndo" class="mr-1"></fa-icon>
        Reset Password
      </li>
    </nav>
  </div>
  <!-- <div class="ml-auto">
    <a routerLink="/register" class="btn btn-sm btn-primary btn-rounded">
      <fa-icon [icon]="faUserPlus" class="mr-1"></fa-icon>
      Register
    </a>
  </div> -->
</div>

<div class="col-12 col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto my-5">
  <div class="card rounded">
    <div class="card-body">
      <div class="text-center">
        <img src="/assets/imgs/logo.png" alt="abc logo" class="logo">

        <h5 class="mt-3 text-muted">
          Reset Forgotten Password
        </h5>
      </div>


      <form #confirmEmailForm="ngForm" *ngIf="!isValidEmail">
        <div class="form-group mt-3">
          <div class="d-flex form-control form-control-custom">
            <input type="email" placeholder="Email" name="email" id="email" autocomplete="off" #email="ngModel"
              [(ngModel)]="confirmEmail.email" email required />
          </div>
        </div>

        <div class="form-group text-center">
          <button class="btn btn-rounded btn-outline-success" (click)="onConfirmEmail()"
            [disabled]="!confirmEmailForm.form.valid">
            Continue
            <fa-icon [icon]="faArrowCircleRight"></fa-icon>
          </button>
        </div>
      </form>

      <form #resetPasswordForm="ngForm" *ngIf="isValidEmail">
        <div class="form-group">
          <div class="d-flex form-control form-control-custom">
            <input type="password" placeholder="Password" name="password" #password="ngModel" autocomplete="off"
              [(ngModel)]="resetPassword.password" required />
          </div>
        </div>
        <div class="form-group text-center">
          <div class="d-flex form-control form-control-custom">
            <input type="password" placeholder="Confirm Password" name="confirmPassword" #password="ngModel"
              autocomplete="off" [(ngModel)]="resetPassword.confirmPassword" required />
          </div>
          <span class="text-danger mt-1" *ngIf="resetPassword.confirmPassword !== resetPassword.password">
            <small>Password does not match</small>
          </span>
        </div>

        <div class="form-group text-center">
          <button class="btn btn-rounded btn-outline-success" (click)="onResetPassword()"
            [disabled]="!resetPasswordForm.form.valid">
            Reset Password
          </button>
        </div>
      </form>

      <div *ngIf="isProcessing" class="text-center">
        <span>
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
          Processing request
        </span>
      </div>
    </div>
  </div>
</div>
