<div class="row flex-wrap-reverse">
  <div class="col-12 mb-2" [hidden]="!isMainMode">
    <div class="mb-3">
      <form class="w-100">
        <div class="form-control form-control-custom d-flex">
          <input type="search" name="searchquery" placeholder="Search staff by surname, firstname or othername."
            [(ngModel)]="searchquery" autocomplete="off" />
          <button class="btn my-0 py-0" (click)="onSearch()">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="scrollable">
      <table class="table table-bordered table-hover table-lg small">
        <thead class="text-muted">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Class</th>
            <th>Level & Grade</th>
            <th>Date of Emp</th>
            <th>Date of Ret</th>
            <th class="text-center">
              <fa-icon [icon]="faCog"></fa-icon>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let staff of staffs; index as i;">
            <td>{{i+1}}.</td>
            <td class="text-capitalize">
              {{staff.surname}}, {{staff.firstname}} {{staff.othername}}
            </td>
            <td class="text-capitalize">{{staff.Department.name}}</td>
            <td class="text-capitalize">{{staff.Designation.name}}</td>
            <td class="text-capitalize">{{staff.StaffClass.name}}</td>
            <td class="text-center">{{staff.level}}, {{staff.grade}}</td>
            <td>{{staff.dateOfEmp | date}}</td>
            <td>{{staff.dateOfRet | date}}</td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-info" data-toggle="dropdown">
                  <div class="d-flex align-items-center">
                    <span>more</span>
                    <fa-icon [icon]="faEllipsisH" class="ml-1"></fa-icon>
                  </div>
                </button>
                <div class="dropdown-menu">
                  <label href="#" class="dropdown-item" (click)="onViewProfile(staff)">
                    <div class="d-flex align-items-center">
                      <span class="mr-2">
                        <fa-icon [icon]="faUser" class="mr-2 text-primary"></fa-icon>
                      </span>
                      <small>
                        <span class="d-block">Staff profile</span>
                        <span class="d-block">View staff profile details</span>
                      </small>
                    </div>
                  </label>
                  <label class="dropdown-item" (click)="onEdit(staff)">
                    <div class="d-flex align-items-center">
                      <span class="mr-2">
                        <fa-icon [icon]="faEdit" class="text-info"></fa-icon>
                      </span>
                      <small>
                        <span class="d-block">Edit staff details</span>
                        <span class="d-block">Change this staff details</span>
                      </small>
                    </div>
                  </label>
                  <label class="dropdown-item" (click)="onDelete(staff)">
                    <div class="d-flex align-items-center">
                      <span class="mr-2">
                        <fa-icon [icon]="faTrash" class="text-danger"></fa-icon>
                      </span>
                      <small>
                        Delete staff
                        <span class="d-block">
                          Remove this staff information
                        </span>
                      </small>
                    </div>
                  </label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="isLoading" class="text-center mt-2">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        Loading
      </p>

      <button *ngIf="hasMoreData" class="btn btn-sm btn-outline-info" (click)=loadData(currentPage+1)>
        Load More...
      </button>
    </div>
  </div>

  <!-- Form -->
  <div class="col-12 mb-2 form-container" [hidden]="!isNewItemMode && !isEditMode">
    <div class="text-right" (click)="onBackToMain()">
      <button class="btn btn-sm mb-1">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <app-staff-form [isNewItemMode]="isNewItemMode" [isEditMode]="isEditMode" [staffProfile]="staffProfile"
      (newItem)="onNewItem($event)" (itemUpdate)="onUpdate($event)">
    </app-staff-form>
  </div>
  <!-- Form -->
</div>
